@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  body {
    @apply font-lato text-black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-kanit;
  }

  a {
    @apply border-2 border-transparent focus:border-primary focus:outline-none;
  }

  table {
    @apply min-w-full table-auto border-separate border-spacing-0;
  }

  th {
    @apply border border-primary bg-primary px-3 py-2 text-left font-kanit font-medium text-white first:rounded-tl-lg last:rounded-tr-lg;
  }

  td {
    @apply border-b border-medium p-3 first:border-l last:border-r;
  }

  tr:last-child td {
    @apply first:rounded-bl-lg last:rounded-br-lg;
  }

  table p {
    @apply font-bold;
  }

  table time {
    @apply text-dark;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply input;
  }

  label {
    @apply mb-1.5 block pl-0.5 font-kanit capitalize text-dark;
  }
}

@layer components {
  /* ----- */
  /* INPUT */
  /* ----- */

  .input {
    @apply w-full rounded border-medium focus:border-primary focus:outline-none focus:ring-primary;
  }

  /* ------ */
  /* BUTTON */
  /* ------ */

  .btn {
    @apply shadow-sm ring-offset-2 focus:outline-none focus:ring-2;
  }

  .btn-text-icon {
    @apply flex items-center justify-between space-x-3 rounded-lg px-5 py-2;
  }

  .btn-text-icon > span {
    @apply font-kanit;
  }

  .btn-text-icon > svg {
    @apply h-5 w-5;
  }

  .btn-icon {
    @apply rounded-full p-2;
  }

  .btn-icon > svg {
    @apply h-4 w-4;
  }

  .btn-icon-sm {
    @apply rounded-full p-1.5;
  }

  .btn-icon-sm > svg {
    @apply h-3 w-3;
  }

  .btn-icon-lg {
    @apply rounded-full p-1;
  }

  .btn-icon-lg > svg {
    @apply h-8 w-8;
  }

  .btn-primary {
    @apply bg-primary text-white ring-primary hover:bg-primary-dark focus:border-primary;
  }

  .btn-error {
    @apply bg-error text-white ring-error hover:bg-error-dark focus:border-error;
  }

  .btn-info {
    @apply bg-info text-white ring-info hover:bg-info-dark focus:border-info;
  }

  .btn-warning {
    @apply bg-warning text-white ring-warning hover:bg-warning-dark focus:border-warning;
  }

  .btn-gray {
    @apply bg-light text-dark ring-light hover:bg-medium focus:border-gray;
  }

  /* ----- */
  /* TOAST */
  /* ----- */

  .toast {
    @apply flex items-center space-x-3 rounded-lg border px-5 py-2;
  }

  .toast > svg {
    @apply h-4 w-4;
  }

  .toast > span {
    @apply font-kanit;
  }

  .toast-success {
    @apply border-success bg-success/25 text-success;
  }

  .toast-info {
    @apply border-info bg-info/25 text-info;
  }

  .toast-error {
    @apply border-error bg-error/25 text-error;
  }

  /* ----------- */
  /* TEXT EDITOR */
  /* ----------- */

  .text-editor-btn > svg {
    @apply h-5 w-5;
  }

  .text-editor h2 {
    @apply mt-8 text-4xl;
  }

  .text-editor h3 {
    @apply mt-6 text-2xl;
  }

  .text-editor h4 {
    @apply mt-6 text-lg;
  }

  .text-editor p {
    @apply mt-4 leading-relaxed text-dark;
  }

  .text-editor b {
    @apply font-bold;
  }

  .text-editor i {
    @apply italic;
  }

  .text-editor u {
    @apply decoration-primary decoration-2 underline-offset-4;
  }

  .text-editor s,
  .text-editor del,
  .text-editor strike {
    @apply line-through decoration-primary decoration-2;
  }

  .text-editor a {
    @apply font-bold text-info underline decoration-info decoration-2 underline-offset-4;
  }

  .text-editor ul {
    @apply mt-4 list-inside list-disc space-y-1;
  }

  .text-editor ol {
    @apply mt-4 list-inside list-decimal space-y-1;
  }

  .text-editor ul p {
    @apply mt-0 inline-block;
  }

  .text-editor ol p {
    @apply mt-0 inline-block;
  }

  .text-editor table {
    @apply mt-4 min-w-full shadow-sm;
  }

  .text-editor tr {
    @apply first:border first:border-primary;
  }

  .text-editor th {
    @apply border border-primary bg-primary p-3 text-left font-bold text-white;
  }

  .text-editor td {
    @apply border border-medium p-3 text-left;
  }

  /* --------- */
  /* SCROLLBAR */
  /* --------- */

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
